[Container]
Image=docker.io/library/nginx:1.25
ContainerName=nextcloud-web
PodmanArgs={{ nextcloud_service_web_extra_args }}
Volume=nc-app-html:/var/www/html:ro,z
Volume=nc-app-apps:/var/www/html/custom_apps:ro,z
Volume=nc-web-cache:/var/www/cache:z
Volume=nc-app-logs:/var/log/nextcloud:ro,z
Volume=./configs/nginx.conf:/etc/nginx/nginx.conf:ro,Z
Network=shared-network
AutoUpdate={{ nextcloud_service_auto_update }}

[Unit]
Requires=nextcloud-app.service
After=nextcloud-app.service

[Install]
WantedBy=default.target
