[Container]
Image=docker.io/library/nextcloud:31-fpm
ContainerName=nextcloud-push
EnvironmentFile=./configs/nextcloud.env
PodmanArgs={{ nextcloud_service_push_extra_args }}
Volume=nc-app-html:/var/www/html:z
Volume=nc-app-apps:/var/www/html/custom_apps:z
Volume=nc-app-config:/var/www/html/config:z
Volume=nc-app-logs:/var/log/nextcloud:z
Volume=nextcloud-data:/var/www/html/data:z
Network=shared-network
Entrypoint=/notify_push.sh
AutoUpdate={{ nextcloud_service_auto_update }}

[Unit]
After=nextcloud-app.service

[Install]
WantedBy=default.target
