[Container]
Image=ghcr.io/MArpogaus/service-nextcloud/my-nextcloud:latest
ContainerName=nextcloud-push
PodmanArgs=--env PORT=7867 \
           --env METRICS_PORT=1111 \
           --env NEXTCLOUD_URL=${NEXTCLOUD_URL} \
           --volume=nc-app-html:/var/www/html:z \
           --volume=nc-app-apps:/var/www/html/custom_apps:z \
           --volume=nc-app-config:/var/www/html/config:z \
           --volume=nc-app-logs:/var/log/nextcloud:z \
           --volume=nextcloud-data:/var/www/html/data:z \
           --memory=512M \
           --restart=always
Volume=nc-app-html:/var/www/html:z
Volume=nc-app-apps:/var/www/html/custom_apps:z
Volume=nc-app-config:/var/www/html/config:z
Volume=nc-app-logs:/var/log/nextcloud:z
Volume=nextcloud-data:/var/www/html/data:z
Network=shared-network
Entrypoint=/notify_push.sh
Label=io.containers.autoupdate=local

[Install]
WantedBy=default.target
