[Container]
Image={{ (nextcloud_image | default('docker.io/library/nextcloud:31-fpm')) | lower }}
ContainerName=nextcloud-app
EnvironmentFile=./configs/nextcloud.env
PodmanArgs={{ nextcloud_service_app_extra_args }}
Volume=nc-app-html:/var/www/html:z
Volume=nc-app-apps:/var/www/html/custom_apps:z
Volume=nc-app-logs:/var/log/nextcloud:z
Volume={{ service_home }}/data/data:/var/www/html/data
Volume={{ service_home }}/data/config:/var/www/html/config
Pod=nc.pod
AutoUpdate={{ nextcloud_service_auto_update }}

[Unit]
Requires=nextcloud-db.service nextcloud-redis.service
After=nextcloud-db.service nextcloud-redis.service

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
