[Container]
Image=docker.io/library/nextcloud:31-fpm
ContainerName=nextcloud-preview-generator
EnvironmentFile=./configs/nextcloud.env
PodmanArgs={{ nextcloud_service_preview_extra_args }}
Volume=nc-app-html:/var/www/html:z
Volume=nc-app-apps:/var/www/html/custom_apps:z
Volume=nc-app-logs:/var/log/nextcloud:z
Volume={{ nextcloud_service_home }}/data/data:/var/www/html/data
Volume={{ nextcloud_service_home }}/data/config:/var/www/html/config
Pod=nc.pod
Entrypoint=/previewgenerator.sh
AutoUpdate={{ nextcloud_service_auto_update }}

[Unit]
After=nextcloud-app.service

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
