[Container]
Image=docker.io/library/nextcloud:31-fpm
ContainerName=nextcloud-preview-generator
PodmanArgs=--env-file=./configs/nextcloud.env \
           --memory=2G \
           --cpus=1 \
           --restart=always
Volume=nc-app-html:/var/www/html:z
Volume=nc-app-apps:/var/www/html/custom_apps:z
Volume=nc-app-config:/var/www/html/config:z
Volume=nc-app-logs:/var/log/nextcloud:z
Volume=nextcloud-data:/var/www/html/data:z
Network=shared-network
Entrypoint=/previewgenerator.sh

[Install]
WantedBy=default.target
