[Container]
Image=ghcr.io/MArpogaus/service-nextcloud/my-nextcloud:latest
ContainerName=nextcloud-cron
PodmanArgs=--env PHP_MAX_REQUESTS=50 \
           --memory=1G \
           --restart=always
Volume=nc-app-html:/var/www/html:z
Volume=nc-app-apps:/var/www/html/custom_apps:z
Volume=nc-app-config:/var/www/html/config:z
Volume=nc-app-logs:/var/log/nextcloud:z
Volume=nextcloud-data:/var/www/html/data:z
Network=shared-network
Entrypoint=/cron-wrapper.sh
Label=io.containers.autoupdate=local

[Install]
WantedBy=default.target
