[Container]
Image=docker.io/library/postgres:15
ContainerName=nextcloud-db
PodmanArgs=--env-file=./configs/nextcloud.env \
           --volume=nc-db:/var/lib/postgresql/data:Z \
           --memory=4G \
           --restart=always
Network=shared-network

[Install]
WantedBy=default.target
