[Container]
Image={{ nextcloud_promtail_image }}
ContainerName=promtail-nc
Volume=./configs/promtail-nc.yaml:/etc/promtail/promtail.yaml:ro
Volume=/var/log/journal/:/var/log/journal/:ro
Volume=/run/log/journal/:/run/log/journal/:ro
Volume=/etc/machine-id:/etc/machine-id:ro
Volume=nc-app-logs:/var/log/nextcloud:ro
Pod=promtail-nc.pod
AutoUpdate={{ nextcloud_service_auto_update }}
SecurityLabelDisable=true

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
RestartSec=10s
